USE [master]
GO
/****** Object:  Database [dtbWesley]    Script Date: 31/05/2022 19:59:00 ******/
CREATE DATABASE [dtbWesley]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dtbWesley_Data', FILENAME = N'C:\ESL\BANCO\DADOS\dtbWesley_Data.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'dtbWesley_Log', FILENAME = N'C:\ESL\BANCO\DADOS\dtbWesley_Log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dtbWesley].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dtbWesley]
GO
/****** Object:  Table [dbo].[clientes_log]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_log](
	[id_cliente_log] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[nome] [varchar](50) NULL,
	[nomeAntigo] [varchar](50) NULL,
	[cidade] [varchar](70) NULL,
	[cidadeAntigo] [varchar](70) NULL,
	[endereco] [varchar](70) NULL,
	[enderecoAntigo] [varchar](70) NULL,
	[bairro] [varchar](70) NULL,
	[bairroAntigo] [varchar](70) NULL,
	[complemento] [varchar](50) NULL,
	[complementoAntigo] [varchar](50) NULL,
	[cpfcnpj] [varchar](16) NULL,
	[cpfcnpjAntigo] [varchar](16) NULL,
	[telefone] [varchar](20) NULL,
	[telefoneAntigo] [varchar](20) NULL,
	[email] [varchar](30) NULL,
	[emailAntigo] [varchar](30) NULL,
	[whatsapp] [varchar](15) NULL,
	[whatsappAntigo] [varchar](15) NULL,
	[observacao] [varchar](80) NULL,
	[observacaoAntigo] [varchar](80) NULL,
	[status] [varchar](10) NULL,
	[data_log] [datetime] NULL,
 CONSTRAINT [PK__clientes__log] PRIMARY KEY CLUSTERED 
(
	[id_cliente_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__clientes__log] UNIQUE NONCLUSTERED 
(
	[cpfcnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VW_CLIENTES_LOG]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[VW_CLIENTES_LOG]
as
SELECT  [id_cliente_log]
      ,[id_cliente]
      ,[nome]
      ,[nomeAntigo]
      ,[cidade]
      ,[cidadeAntigo]
      ,[endereco]
      ,[enderecoAntigo]
      ,[bairro]
      ,[bairroAntigo]
      ,[complemento]
      ,[complementoAntigo]
      ,[cpfcnpj]
      ,[cpfcnpjAntigo]
      ,[telefone]
      ,[telefoneAntigo]
      ,[email]
      ,[emailAntigo]
      ,[whatsapp]
      ,[whatsappAntigo]
      ,[observacao]
      ,[observacaoAntigo]
      ,[status]
      ,[data_log]
  FROM [clientes_log]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[cidade] [varchar](70) NOT NULL,
	[endereco] [varchar](70) NOT NULL,
	[bairro] [varchar](70) NOT NULL,
	[complemento] [varchar](50) NULL,
	[cpfcnpj] [varchar](16) NOT NULL,
	[telefone] [varchar](20) NULL,
	[email] [varchar](30) NULL,
	[whatsapp] [varchar](15) NULL,
	[observacao] [varchar](80) NULL,
 CONSTRAINT [PK__clientes__677F38F5EB92FB40] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__clientes__4A84D7ECDF9B129A] UNIQUE NONCLUSTERED 
(
	[cpfcnpj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contas_pagar_receber]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contas_pagar_receber](
	[id_contasPagarReceber] [int] IDENTITY(1,1) NOT NULL,
	[cod_carteira] [int] NOT NULL,
	[cod_banco] [int] NOT NULL,
	[nr_conta] [varchar](11) NOT NULL,
	[nr_agencia] [varchar](5) NOT NULL,
	[ds_banco] [varchar](25) NOT NULL,
	[vl_pago] [numeric](10, 2) NOT NULL,
	[vl_jurosmes] [numeric](10, 2) NOT NULL,
	[vl_jurosdia] [numeric](10, 2) NOT NULL,
	[data_vencimento] [date] NOT NULL,
	[dt_pagamento] [date] NOT NULL,
	[titulo] [varchar](25) NULL,
	[bordero] [int] NULL,
	[pix] [varchar](50) NULL,
	[boletobancario] [varchar](70) NULL,
	[vl_parcela] [decimal](15, 3) NULL,
	[cnpjcpf] [varchar](15) NOT NULL,
	[observacao] [varchar](80) NULL,
 CONSTRAINT [PK__contas_p__1D30502AA4B83B56] PRIMARY KEY CLUSTERED 
(
	[id_contasPagarReceber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__contas_p__D2FD5F64415F3BBB] UNIQUE NONCLUSTERED 
(
	[cnpjcpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fornecedor]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedor](
	[id_fornecedor] [int] IDENTITY(1,1) NOT NULL,
	[ds_fornecedor] [varchar](50) NOT NULL,
	[endereco] [varchar](70) NOT NULL,
	[bairro] [varchar](50) NULL,
	[complemento] [varchar](50) NULL,
	[cidade] [varchar](50) NOT NULL,
	[cnpjcpf] [varchar](15) NOT NULL,
	[telefone] [varchar](30) NULL,
	[email] [varchar](30) NULL,
	[whatsapp] [varchar](15) NULL,
	[data_cadastro] [date] NOT NULL,
	[observacao] [varchar](80) NULL,
 CONSTRAINT [PK__forneced__6C477092CF72E503] PRIMARY KEY CLUSTERED 
(
	[id_fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__forneced__D2FD5F64C52C7433] UNIQUE NONCLUSTERED 
(
	[cnpjcpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[id_produto] [int] IDENTITY(1,1) NOT NULL,
	[ds_produto] [varchar](30) NOT NULL,
	[preco] [numeric](15, 3) NOT NULL,
	[marca] [varchar](30) NULL,
	[observacao] [varchar](80) NULL,
 CONSTRAINT [PK__produtos__BA38A6B877AD41ED] PRIMARY KEY CLUSTERED 
(
	[id_produto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendas]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendas](
	[id_venda] [int] IDENTITY(1,1) NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_fornecedor] [int] NOT NULL,
	[vl_vendatotal] [numeric](15, 3) NULL,
	[vl_notafiscal] [numeric](15, 3) NULL,
	[dt_venda] [datetime] NOT NULL,
	[dt_compra] [date] NOT NULL,
	[ds_venda] [varchar](50) NOT NULL,
	[observacao] [varchar](80) NULL,
 CONSTRAINT [PK__vendas__4595B5ABF9E601E8] PRIMARY KEY CLUSTERED 
(
	[id_venda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vendas_itens]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendas_itens](
	[id_vendas_itens] [int] IDENTITY(1,1) NOT NULL,
	[id_venda] [int] NOT NULL,
	[id_produto] [int] NOT NULL,
	[qt_produto] [int] NULL,
	[vl_produto] [numeric](15, 3) NULL,
 CONSTRAINT [PK_vendas_itens] PRIMARY KEY CLUSTERED 
(
	[id_vendas_itens] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes_log] ADD  CONSTRAINT [DF_clientes_log_data_log]  DEFAULT (getdate()) FOR [data_log]
GO
ALTER TABLE [dbo].[vendas]  WITH CHECK ADD  CONSTRAINT [FK_vendas_clientes] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[vendas] CHECK CONSTRAINT [FK_vendas_clientes]
GO
ALTER TABLE [dbo].[vendas]  WITH CHECK ADD  CONSTRAINT [FK_vendas_fornecedor] FOREIGN KEY([id_fornecedor])
REFERENCES [dbo].[fornecedor] ([id_fornecedor])
GO
ALTER TABLE [dbo].[vendas] CHECK CONSTRAINT [FK_vendas_fornecedor]
GO
ALTER TABLE [dbo].[vendas_itens]  WITH CHECK ADD  CONSTRAINT [FK_vendas_itens_produtos] FOREIGN KEY([id_produto])
REFERENCES [dbo].[produtos] ([id_produto])
GO
ALTER TABLE [dbo].[vendas_itens] CHECK CONSTRAINT [FK_vendas_itens_produtos]
GO
ALTER TABLE [dbo].[vendas_itens]  WITH CHECK ADD  CONSTRAINT [FK_vendas_itens_vendas_itens] FOREIGN KEY([id_venda])
REFERENCES [dbo].[vendas] ([id_venda])
GO
ALTER TABLE [dbo].[vendas_itens] CHECK CONSTRAINT [FK_vendas_itens_vendas_itens]
GO
/****** Object:  StoredProcedure [dbo].[RELEATORIO_VENDA]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[RELEATORIO_VENDA]
AS
BEGIN
	declare @sCampos varchar(max)
	declare @sTabelas varchar(max)
	declare @sGroup varchar(max)
	declare @sOrder varchar(max)
	declare @sSQL  varchar(max)

	set @sCampos =
			'  clientes.nome Cliente,' +
			'  year(vendas.dt_venda) Ano,' +
			'  month(vendas.dt_venda) Mês,' +
			'  sum(vendas.vl_vendatotal) Total_Vendas '
	set @sTabelas = 
		' vendas vendas' + 
		' left join clientes clientes on vendas.id_cliente = clientes.id_cliente'

	set @sGroup = 
		' clientes.nome, ' +
		' year(vendas.dt_venda), ' +
		' month(vendas.dt_venda)'

	set @sOrder =
		' year(vendas.dt_venda), ' +
		' month(vendas.dt_venda), ' +
		' clientes.nome '

	set @sSQL = ' select ' + @sCampos + ' from ' + @sTabelas + ' group by ' + @sGroup + ' order by ' + @sOrder
		
	exec(@sSQL) 

	 
END
GO
/****** Object:  Trigger [dbo].[TRG_Log_Clientes]    Script Date: 31/05/2022 19:59:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[TRG_Log_Clientes] on [dbo].[clientes] for update, insert as
begin
	
	declare @id_Cliente as int
	declare @nome 		as varchar(50)
	declare @cidade 	as varchar(70)
	declare @endereco 	as varchar(70)
	declare @bairro 	as varchar(70)
	declare @complemento 	as varchar(70)
	declare @cpfcnpj 	as varchar(16)
	declare @telefone 	as varchar(20)
	declare @email 		as varchar(30)
	declare @whatsapp 	as varchar(15)
	declare @observacao 	as varchar(80)
	declare @sStatus	as varchar(10)

	declare @nomeAntigo 		as varchar(50)
	declare @cidadeAntigo 	as varchar(70)
	declare @enderecoAntigo 	as varchar(70)
	declare @bairroAntigo 	as varchar(70)
	declare @complementoAntigo 	as varchar(70)
	declare @cpfcnpjAntigo 	as varchar(16)
	declare @telefoneAntigo 	as varchar(20)
	declare @emailAntigo 		as varchar(30)
	declare @whatsappAntigo 	as varchar(15)
	declare @observacaoAntigo 	as varchar(80)
	declare @sStatusAntigo	as varchar(10)
		
	select 
		@nomeAntigo = coalesce(rtrim(nome),''),
		@cidadeAntigo = coalesce(rtrim(cidade),''),
		@enderecoAntigo = coalesce(rtrim(endereco),''),
		@bairroAntigo = coalesce(rtrim(bairro),''),
		@complementoAntigo = coalesce(rtrim(complemento),''),
		@cpfcnpjAntigo = coalesce(rtrim(cpfcnpj),''),
		@telefoneAntigo = coalesce(rtrim(telefone),''),
		@emailAntigo = coalesce(rtrim(email),''),
		@whatsappAntigo = coalesce(rtrim(whatsapp),''),
		@observacaoAntigo = coalesce(rtrim(observacao),''),
		@sStatusAntigo = 'deleted'
	from
		deleted

	select 
		@id_Cliente = id_cliente,
		@nome = coalesce(rtrim(nome),''),
		@cidade = coalesce(rtrim(cidade),''),
		@endereco = coalesce(rtrim(endereco),''),
		@bairro = coalesce(rtrim(bairro),''),
		@complemento = coalesce(rtrim(complemento),''),
		@cpfcnpj = coalesce(rtrim(cpfcnpj),''),
		@telefone = coalesce(rtrim(telefone),''),
		@email = coalesce(rtrim(email),''),
		@whatsapp = coalesce(rtrim(whatsapp),''),
		@observacao = coalesce(rtrim(observacao),''),
		@sStatus = 'inserted'
	from 
		inserted

	insert into clientes_log 
		([id_cliente], [nome], [nomeAntigo], [cidade], [cidadeAntigo], [endereco], [enderecoAntigo], [bairro], [bairroAntigo], [complemento], [complementoAntigo], [cpfcnpj], [cpfcnpjAntigo],
		[telefone], [telefoneAntigo], [email], [emailAntigo], [whatsapp], [whatsappAntigo], [observacao], [observacaoAntigo], [status])
	values
		(@id_Cliente, @nome, @nomeAntigo, @cidade, @cidadeAntigo, @endereco, @enderecoAntigo, @bairro, @bairroAntigo, @complemento, @complementoAntigo, @cpfcnpj, @cpfcnpjAntigo,
		@telefone, @telefoneAntigo, @email, @emailAntigo, @whatsapp, @whatsappAntigo, @observacao, @observacaoAntigo, @sStatus)
	
end
GO
ALTER TABLE [dbo].[clientes] ENABLE TRIGGER [TRG_Log_Clientes]
GO
USE [master]
GO
